
<div class="form-group">
    <label for="name">Name:</label>
    <input type="text" class="form-control" id="name" autofocus="true" required placeholder="Enter Name" [(ngModel)]="name">
</div>
<div class="form-group">
    <label for="age">Age:</label>
    <input type="number" class="form-control" id="age" required placeholder="Enter Age" [(ngModel)]="age">
</div>
<div class="form-group">
    <label for="email">Email:</label>
    <input type="email" class="form-control" id="email" required placeholder="Enter Email" [(ngModel)]="email" (click)="onClick()">
</div>
<div class="form-group">
    <label for="contact">Contact Num:</label>
    <input type="text" class="form-control" id="contact" required placeholder="Enter Contact Number" [(ngModel)]="mobile">
</div>
<div class="form-group">
    <label for="occupation">Occupation:</label>
    <input type="text" class="form-control" id="occupation" required placeholder="Enter Occupation" [(ngModel)]="occupation">
</div>
<div class="form-group">
    <label for="address">Address:</label>
    <textarea class="form-control" rows="3" id="address" required placeholder="Enter Address" [(ngModel)]="address"></textarea>
</div>
<div class="form-group">
    <label for="username">Username:</label>
    <input type="text" class="form-control" id="username" required placeholder="Enter Username" [(ngModel)]="username">
</div>
<div class="form-group">
    <label for="password">Password:</label>
    <input type="password" id="pwd" name="pwd" class="form-control" [(ngModel)]="password" (click)="onClickPass()"
  pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
  title="Must contain at least one  number and one uppercase and lowercase letter, and at least 8 or more characters" required placeholder="Enter Password">
</div>
<div class="form-group">
    <label for="email">Confirm Password:</label>
    <input type="password" id="cnfpwd" name="cnfpwd" class="form-control" [(ngModel)]="cnfPassword" (keyup.enter)="onClickEnter()"
    pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
    title="Must contain at least one  number and one uppercase and lowercase letter, and at least 8 or more characters" required placeholder="Confirm Password">
</div>
<button type="submit" class="btn btn-success" [disabled]="buttFlag==true?true:false" (click)="register()">Register</button>