
  <div class="container-fluid text-center">    
    <div class="row content">
      <div class="col-sm-2 sidenav">
        <p><a href="/categorylist">List of Charities</a></p>
        <p><a href="/ngolist">List of NGOS</a></p>
        <p><a href="/donorlist">List of Donors</a></p>
      </div>
      <div class="col-sm-10 text-left"> 
        <h1>Charities</h1>
        <table class="table table-striped">
          
          <thead>
            <tr>
              <th>Name</th>
              <th>Description</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let category of  categories">
              <td>{{category.name}}</td>
              <td>{{category.description}}</td>
            </tr>
          </tbody>
        </table>
    </div>  
    </div>
    <marquee><h2>For further enquiry you can contact with us <a href="/contact"><button style="font-size:24px">Contact Us<i class="fa fa-wpforms"></i></button></a></h2></marquee>
  </div>
  <div class="container">
    <img src="assets/images/education.jpg" class="img-responsive"  alt="education">        
  </div>
  <div class="clearfix"></div>
    <section class="spacer spacer-map" id="about-me">
      <div class="">
        <div class="container">
          <div class="row">
            <div class="col-md-5">              
                <div class="embed-responsive embed-responsive-4by3">
                  <iframe title="vimeo-player" src="https://player.vimeo.com/video/7351545" width="640" height="360" frameborder="0" allowfullscreen></iframe>
                </div>
              </div>
            <div class="col-md-7 xss-marg">
              <div class="heading">
                <h3>Mission Education</h3>
              </div>
              <div class="about_mission">
                <p>Mission Education is a national level programme of us. an <b>NGO for education</b> which is committed to providing basic education and <b>healthcare to underprivileged children</b>.An NGO for poor child education believes that whether you are addressing healthcare, poverty, population control, unemployment or human rights, there's no better place to start than in the corridors of education.</p>

                <p>Education is both the means as well as the end to a better life; means, because it empowers an individual to earn his/her livelihood and the end because it increases one's awareness on a range of issues – from healthcare to appropriate social behavior to understanding one's rights, and in the process evolve as a better citizen.</p>

                <p>Our educational initiatives include Pre-school [3-6 yrs], Non Formal Education [6-14 yrs non-school going], Remedial Education [6-14 yrs school going] and Bridge Course [14-18 yrs drop-outs]. Special emphasis is given on <b>girl education and women education,</b> so that they and their families get empowered.</p>
              </div>
            </div>
          </div>
          <hr>
        </div>
      </div>
      <div class="container">
        <img src="assets/images/banner-7.jpg" class="img-responsive"  alt="health">       
      </div>
      <br>
      <div class="">
        <div class="container">
          <div class="row">
            
            <div class="col-md-12 xss-marg">
              <div class="heading">
                <h3>Healthcare</h3>
              </div>
              <div class="about_mission">
                <p>"He who has health has hope; and he who has hope has everything" – Arabic proverb</p>

                <p>India has made rapid strides in the health sector since independence. However, various eye opening data from NFHS clearly indicate that access to <b>healthcare</b> still remains a challenge.</p>

                <p>While the health statistics of rural India continue to be poor, the health status and access to health for the poor in urban slum dwellers has surfaced to be equally deplorable and have less than 4% of government primary <b>healthcare</b> facilities.</p>

                <p>Urban slum dwellers suffer from adverse health conditions owing to mainly two reasons –first the lack of education and thus lack of awareness; and second the unwillingness to lose a day’s wage in order to reach the nearest medical facility. <b>Healthcare for underprivileged,</b> which is a desperate need, thus remains unaddressed.</p>

                <p>The need of the hour is thus a two pronged approach – first to bring quality <b>healthcare</b> services to doorsteps of the needy and second to promote <b>healthcare</b> awareness and contemporary <b>healthcare</b> seeking behavior among the underprivileged.</p>


              </div>
            </div>
          </div>
          <hr>
        </div>
      </div>
      <div class="container">
        <img src="assets/images/wom-banner.jpg" class="img-responsive"  alt="health">       
      </div>  
      <div class="">
        <div class="container">
          <div class="row">
            
            <div class="col-md-12 xss-marg">
              <div class="heading">
                <h3>Swabhiman</h3>
              </div>
              <div class="about_mission">
              <p>Various studies, as well as our experience, have shown that when we work towards <b>women empowerment,</b> the whole society benefits. But unfortunately in India, far from empowering women, most are denied even their basic rights like health, <b>education of girls for women empowerment,</b> employment and a respectable status in society.</p>

              <p>According to a recent UNDP Human Development Report, India has a dangerously imbalanced sex ratio, the chief reason being rampant female infanticide and sex-selective abortions.</p>

              <p>Swabhiman, meaning self-respect in English, was initiated in 2005 to address these challenges through a simple yet effective approach. The programme is specifically aimed at realization of both individual and collective self-esteem and inner strength for marginalised and socially excluded women and adolescent girls through innovative community practices.</p>

              <p>A tailor-made strategy called the '4 S Model' has been developed under <b>Swabhiman,</b> the <b>women empowerment programme.</b> The ‘4 S Model’ is an acronym for four novel approaches, namely Seeking Healthcare as a Behaviour, Support for Education, Supporters through Male Involvement, and Sustaining the Change in Communities.</p>

              <p>The programme identifies adolescent girls and women from the community and develops them into Change Agents, who in turn actively contribute to the community mobilization process.</p>

              <p>So far, <b>Swabhiman</b> through <b>women's education empowerment program</b> and <b>health programmes</b> has successfully made a difference to the lives of over 560,000 women and girl children.</p>

              </div>
            </div>
          </div>
          <hr>
        </div>
      </div>
   