
  <div class="container-fluid text-center">    
    <div class="row content">
      <div class="col-sm-2 sidenav">
        <p><a href="/categorylist">List of Charities</a></p>
        <p><a href="/ngolist">List of NGOS</a></p>
        <p><a href="/donorlist">List of Donors</a></p>
      </div>
      <div class="col-sm-10 text-left"> 
        <h1>NGOs</h1>
        <table class="table table-striped">
          
          <thead>
            <tr>
              <th>NGO Name</th>
              <th>Email</th>
              <th>Address</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let ngo of NGOS">
              <td>{{ngo.orgRegName}}</td>
              <td>{{ngo.email}}</td>
              <td>{{ngo.address}}</td>
            </tr>
          </tbody>
        </table>
    </div>  
    </div>
    <marquee><h2>You can also register your <B>NGOs</B> by <a href="ngo">
      <u><span class="glyphicon glyphicon-user">Signing Up Here</span></u></a></h2></marquee>
  </div>
  <hr>
  <div class="container">
  <div class="col-sm-12">
  
    <div class="media">
      <div class="media-left">
        <img src="/assets/images/smile.jpg" class="media-object" style="width:150px; height: 150px;">
      </div>
      <div class="media-body">
        <h2 class="media-heading">Smile Foundation</h2>
        <p>
          Smile Foundation, an NGO for poor child education, is an NGO in India directly benefitting over 15,00,000 children and their families every year, through more than 400 live welfare projects on education, healthcare, livelihood and women empowerment, in over 2000 remote villages and slums across 25 states of India.
        </p>
        <p>
          Smile Foundation, among the top NGO in India, works intensively through focused welfare projects in four major areas – child education for poor children, healthcare for families, skills training and livelihood for youth, and community engagement through women empowerment.
        </p>
        <p>
          <b>So far, we have been able to directly impact the lives of over 1 million children and families.</b>
        </p>
      </div>
    </div>
    <hr>
    <div class="media">
      <div class="media-body">
        <h2 class="media-heading">Indian Health Action Trust</h2>
        <p>
          IHAT was instituted in 2003 as a Charitable Trust under the Indian Trust Act (1882) and is registered with the Ministry of Home Affairs under the Foreign Contribution Regulation Act, 1976 and under section 12A(a) of the Income Tax Act, 1961.
        </p>
        <p>
          <b>
            In collaboration with the University of Manitoba, we are dedicated to supporting the Government of Uttar Pradesh & Madhya Pradesh to strengthen their public health systems. We work together to identify bottlenecks in health systems, streamline process and advocate evidence-informed health policy changes to make the public health systems more responsive and effective.
          </b>
        </p>
        <p>
          <i>
            “Meaningfully impact the lives of vulnerable and marginalised people by addressing health and social inequities”.
          </i>
        </p>
      </div>
      <div class="media-right">
        <img src="/assets/images/ihat.png" class="media-object" style="width:150px; height: 150px;">
      </div>
    </div>
  </div>
  
  <div class="col-sm-12">
    <hr>
    <div class="media">
      <div class="media-left">
        <img src="/assets/images/nari.jpg" class="media-object" style="width:150px; height: 150px;">
      </div>
      <div class="media-body">
        <h2 class="media-heading">Nari Sewa Samiti</h2>
        <p>
          Nari Sewa Samiti functioning as the women NGO adopts a holistic approach for women empowerment India. It aims to address the issues in an integrated manner thus providing the wholesome solution towards comprehensive empowerment of women in India. The legacy of female discrimination and oppression is acquainted economically, culturally, socially, and politically across the world. Though it is a fact that Gender equality and women empowerment in India requires government and legal attention. And repulsion of discriminatory laws and passing of new laws requires genuine equal rights to the ladies. Further empowering female economically, socially and politically is the aim of Nari Sewa through aggressive mass movements, mobilizations and campaigns thus ending ladies abuse and transforming the gender relations.
        </p>
      </div>
    </div>
    <hr>
    <div class="media">
      <div class="media-body">
        <h2 class="media-heading"></h2>
        <p>
          <b>
            Samarpan in working on the ideology of the great Saint Pt. Sri Ram Sharma Acharya , who has said and practiced that "Service to Humanity is Service to God".
          </b>
        </p>
        <p>
          Over last 60 years, the Global Gayatri Family has been carrying out a mass movement called the Yug Nirman Mission for transformation of current materialistic ideologies, which have become the bane of humankind in spite of the phenomenal progress in science and technology contributing to improvement in standards of living. The mentor-founder-guide of this movement Pt. Sriram Sharma Acharya (1911-1990) perceived that the root course of rampant world-wide phenomena of corruption, violence, terrorism, exploitation of the weaker section, drug abuse, aids, mutual distrust and insecurity amongst nations promoting the arms-race is the fall in moral standards of man, giving birth to corruptions of all kinds. That there can never be localised solutions to these problems whatever be the ways and means.
        </p>
        <p>
          Samarpan is working amongst the poor, needy and downtrodden, rendering services to the side. Also running primary school to educate the children in several areas and providing vocational training to women for their better lively hood.
        </p>
      </div>
      <div class="media-right">
        <img src="/assets/images/samparnpng.png" class="media-object" style="width:150px; height: 150px;">
      </div>
    </div>
  </div>
</div>
<hr>
  