<app-header></app-header>
<!-- <app-home></app-home> -->
<router-outlet></router-outlet>
<app-footer></app-footer>
<!-- <app-login></app-login>
<app-aboutus></app-aboutus>
<app-contact></app-contact>
<app-registration-nav></app-registration-nav>
<app-donor-register></app-donor-register>
<app-ngo-register></app-ngo-register> -->
<!-- <app-category-list></app-category-list>
<app-ngo-list></app-ngo-list>
<app-donor-list></app-donor-list> -->
<!-- <app-admin-controller></app-admin-controller>
<app-ngo-control></app-ngo-control>
<app-donor-control></app-donor-control> -->