
  <div class="container-fluid text-center">    
    <div class="row content">
      <div class="col-sm-2 sidenav">
        <p><a href="/categorylist">List of Charities</a></p>
        <p><a href="/ngolist">List of NGOS</a></p>
        <p><a href="/donorlist">List of Donors</a></p>
      </div>
      <div class="col-sm-8 text-left"> 
        <h1>Welcome</h1>
        <p>Donate online to support us on our mission to help needy . We provide a platfrom to support peoples who are orphan, old, homeless etc. all over the world. <BR/>
          “No one has ever become poor by giving.” - <B>Anne Frank</B></p>
        <hr/> 
        <div class="images">
          <img src="/assets/images/6.jpg" width="777px" height="250px"/>
        </div>  
    </div>  
      <div class="col-sm-2 sidenav">
        <div class="well">
          <p><img src="/assets/images/3.jpg" width="120" height="150"/></p>
        </div>
        <div class="well">
          <p><img src="/assets/images/7.jpg" width="120" height="150"/></p>
        </div>
      </div>
    </div>
  </div>
