<div class="jumbotron">
    <h2>Welcome Admin : {{this.username | titlecase}}</h2>
    <ul class="nav navbar-nav">
      <li><button type="button" class="btn btn-info" (click)="addCharityButt()">Add Charity</button></li>
      <li><button type="button" class="btn btn-info" (click)="charitiesButt()">Charitie</button></li>
      <li><button type="button" class="btn btn-info" (click)="ngosButt()">NGOs</button></li>
      <li><button type="button" class="btn btn-info" (click)="donorsButt()">Donors</button></li>
      <li><button type="button" class="btn btn-info" (click)="donationsButt()">Donations</button></li>
      <li><button type="button"class="btn btn-danger" (click)="logoutButt()">LogOut</button></li>
    </ul>
    
</div>
<div *ngIf="addCharFlag">
  <div class="form-group">
    <label for="name">Category Name : </label>
    <input type="text" class="form-control" id="name" autofocus="true" required placeholder="Enter Category" [(ngModel)]="name">
  </div>
  <div class="form-group">
    <label for="age">Description : </label>
    <input type="text" class="form-control" id="age" required placeholder="Enter Description" [(ngModel)]="description">
  </div>
  <button type="button" class="btn btn-success" (click)="addCat()">Add ! </button>
</div>

<div *ngIf="charFlag"> 
    <h1>List of Charities</h1>
    <table class="table table-hover">
      
      <thead class="thead-dark">
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Active Status</th>
          <th colspan="2">Operation</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let category of  categories">
          <td>{{category.name}}</td>
          <td>{{category.description}}</td>
          <td>{{category.activeStatus | activeOrNot}}</td>
          <td><button type="button" class="btn btn-secondary" (click)="updChar(category)">Update</button></td>
        <td> <button type="button" class="btn btn-danger" (click)="remChar(category)">Remove</button></td>
      </tr>
      </tbody>
    </table>
    
</div>

<div *ngIf="updCharFlag">
  <app-update-charity [cob]="catObj" (arrEvent)="categories=$event" (flagEvent)="updCharFlag=$event"></app-update-charity>
</div>

<div *ngIf="ngoFlag"> 
    <h1>List of NGOs</h1>
    <table class="table table-hover table-dark">
      
      <thead class="thead-dark">
        <tr>
          <th>NGO Name</th>
          <th>NGO Registered Number</th>
          <th>NGO Category</th>
          <th>Email</th>
          <th>Mobile</th>
          <th>Address</th>  
          <th>Active Status</th>
          <th>Approval Status</th>
          <th colspan="2">Operations</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ngo of NGOS">
          <td>{{ngo.orgRegName}}</td>
          <td>{{ngo.orgRegNum}}</td>
          <td>{{ngo.category.name}}</td>
          <td>{{ngo.email}}</td>
          <td>{{ngo.mobile}}</td>
          <td>{{ngo.address}}</td>
          <td>{{ngo.activeStatus | activeOrNot}}</td>
          <td>{{ngo.approveStatus | approvedOrNot}}</td>
          <td><button type="button" class="btn btn-secondary" (click)="updNgo(ngo)">Update</button></td>
          <td> <button type="button" class="btn btn-danger" (click)="remNgo(ngo)">Remove</button></td>
        
      </tr>
      </tbody>
    </table>
    
</div>  

<div *ngIf="updNgoFlag">
<app-update-ngo [nob]="ngoObj" (arrEvent)="NGOS=$event" (flagEvent)="updNgoFlag=$event"></app-update-ngo>
</div>

<div *ngIf="donorFlag"> 
  <h1>List of Donors</h1>
  <table class="table table-hover table-dark">
    
    <thead class="thead-dark">
      <tr>
        <th>Name</th>
        <th>Age</th>
        <th>Email</th>
        <th>Mobile</th>
        <th>Address</th>
        <th>Occupation</th>
        <th>Active Status</th>
        <th colspan="2">Oprations</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let donor of donors">
        <td>{{donor.name}}</td>
        <td>{{donor.age}}</td>
        <td>{{donor.email}}</td>
        <td>{{donor.mobile}}</td>
        <td>{{donor.address}}</td>
        <td>{{donor.occupation}}</td>
        <td>{{donor.activeStatus | activeOrNot}}</td>
        <td><button type="button" class="btn btn-secondary" (click)="updDonor(donor)">Update</button></td>
        <td> <button type="button" class="btn btn-danger" (click)="remDonor(donor)">Remove</button></td>
      </tr>
    </tbody>
  </table>
  
</div>  

<div *ngIf="updDonorFlag">
<app-update-donor [dob]="donorObj" (arrEvent)="donors=$event" (flagEvent)="updDonorFlag=$event"></app-update-donor>
</div>

<div *ngIf="donationFlag"> 
  <h1>List of Donations</h1>
  <table class="table table-hover table-dark">
    
    <thead class="thead-dark">
      <tr>
        <th>Donor Name</th>
        <th>Ngo Name</th>
        <th>Donation Date</th>
        <th>Donation Amount</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let donation of donations">
        <td>{{donation.donor.name}}</td>
        <td>{{donation.ngo.orgRegName}}</td>
        <td>{{donation.donationDate  | date }}</td>
        <td>{{donation.donationAmount | currency:"INR":"symbol"}}</td>
      </tr>
    </tbody>
  </table>
</div>  

<div class="fakeimg" style="height:300px;">
  <div class="container">
    <h1>Grid</h1>      
    <div class="row">
      <div class="col-sm-4" >
          <img src="assets/images/barjpg.jpg" height="220px" width="360" />
      </div>
      <div class="col-sm-4" >
          <img src="assets/images/line.jpg" height="220px" width="360" />
      </div>
      <div class="col-sm-4">
         <img src="assets/images/pie.jpg" height="220px" width="360" />
        </div>
    </div>
  </div>
</div>