
<div class="container-fluid text-center">    
    <div class="row content">
      <div class="col-sm-2 sidenav">
        <p><a href="#">List of Charities</a></p>
        <p><a href="#">List of NGOS</a></p>
        <p><a href="#">List of Donors</a></p>
      </div>
      <div class="col-sm-8 text-left"> 
        <marquee><h3>Charity brings to life again those who are spiritually dead. <B>-Thomas Aquinas</B></h3></marquee>
        <ul class="list-group">
          <li class="list-group-item list-group-item-success">A&A Info Solution</li>
          <li class="list-group-item list-group-item-success">+917376761774 , +918005607773</li>
          <li class="list-group-item list-group-item-success">aa_info321@gmail.com</li>
        </ul>
      </div>
     
