<div class="container-fluid text-center">    
    <div class="row content">
      <div class="col-sm-2 sidenav">
        <p><a href="/categorylist">List of Charities</a></p>
        <p><a href="/ngolist">List of NGOS</a></p>
        <p><a href="/donorlist">List of Donors</a></p>
      </div>
      <div class="col-sm-8 text-left"> 
        <h1>Welcome</h1>
        <p>We are providing a platform which is transparent to help people who are actually needy. 
            <BR> In our website a <B>NGO</B> can register and <B>Donor</B> can also register and donate to NGOs directly in their account.
        </p>
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
              <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
              <li data-target="#myCarousel" data-slide-to="1"></li>
              <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>
          
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
              <div class="item active">
                <img src="/assets/images/5.jpg" alt="Los Angeles" width="900px" height="100px">
              </div>
          
              <div class="item">
                <img src="/assets/images/2.jpg" alt="Chicago" width="900px" height="100px">
              </div>
          
              <div class="item">
                <img src="/assets/images/1.jpg" alt="New York" width="900px" height="100px">
              </div>
            </div>
          
            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        <hr/>   
    </div>  
      <div class="col-sm-2 sidenav">
        <div class="well">
          <p><img src="/assets/images/4.jpg" width="120" height="150"/></p>
        </div>
        <div class="well">
          <p><img src="/assets/images/12.jpg" width="120" height="150"/></p>
        </div>
      </div>
    </div>
  </div>
  <br>
  <p>Following a lifecycle approach,We works intensively through focused welfare projects in four major areas – child education, healthcare for families,  and community engagement through women empowerment. </p>          
  <p><b>So far, we have been able to directly impact the lives of over 1 million children and families.</b></p>
  <!-- <section class="spacer hidden-xs" style=" margin-top:10px;">
    <div class="work1">
      <div class="container">
        <div class="tab-center">
          <ul class="nav nav-pills tab-options nav-justified">
            <li class="active"><a href="#tab-1" data-toggle="tab" aria-expanded="false">Education</a></li>
            <li class=""><a href="#tab-2" data-toggle="tab" aria-expanded="false">Health</a></li>
            <li class=""><a href="#tab-3" data-toggle="tab" aria-expanded="false">Women Empowerment</a></li>
          </ul>
        </div>
      </div>
    </div>
  </section> -->
  <section>
    <div class="container  hidden-xs">
      <div class="container tab-content">
        <div role="tabpanel" class="tab-pane fade in active" id="tab-1">
          <div class="clearfix"></div>
    
          <section class="spacer" id="ways">
            <div class="container">
              <div class="membership">
               <div class="Nation_Conference">
                <h1>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Child Education</h1>
                <div class="row">
                  <div class="col-md-6">
                    <div class="member">
                       <div class="sub-heading"> 
                         <div class="sub-padd" align="center" style="padding-top:17px;">
                          <img src="assets/images/impact-education.jpg" class="img-responsive" alt="impact-education">
                        </div>
                      </div> 
                    </div>
                  </div>
                
                  <div class="col-md-6">
                    <div class="member"> 
                       <p class="runtext" align="center">More than 200,000 children provided education so far</p>
                       <div class="sub-heading">
                       <p class="partnertext" align="left">Mission Education began in 2002 as a response to the perceived need for a quality education programme  to educate the disadvantaged and out-of-school children in India.</p>
                      <div class="sub-padd" align="center">
                        <img src="assets/images/provided-education.jpg" class=" img-responsive" alt="provided-education">
                      </div>
                      </div>				
                      </div>
                    </div>
                  </div>                 
             
                </div>
             </div>
           </div>
        </section>
         <hr width="85%">
        <!--Last Year's Impact start-->
         <section class="spacer" id="ways">
            <div class="container">
              <p class="runtext" style="margin-top:0px;">Last Year's Impact</p>
              <div class="membership">
               <div class="Nation_Conference">
                <div class="row">          
                  <div class="col-md-4">
                    <div class="member">
                      <div class="sub-heading">                 
                        <div class="sub-padd">
                        <div class="col-md-3">
                          <img src="assets/images/children.jpg">
                        </div>
                        <div class="col-md-9">
                          <p class=" partnertext" align="left">27710 children were provided education during the year and there was an overall increase of 25% from last year in enrollment at Mission Education centers.</p>
                        </div>&nbsp; <br/>
                        </div>
                      </div> 
                    </div>
                  </div>
                
                  <div class="col-md-4">
                    <div class="member">
                      <div class="sub-heading">
                        <div class="sub-padd">              
                            <div class="col-md-3">
                              <img src="assets/images/girls.jpg">
                            </div>
                            <div class="col-md-9">
                             <p class=" partnertext" align="left">51% of the total beneficiaries were girls. Education of girls gets priority by bringing about an attitudinal change in the parents' outlook towards their education.</p>
                            </div>&nbsp;                      
                          </div>
                        </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="member">
                      <div class="sub-heading">
                        <div class="sub-padd">                  
                          <div class="col-md-3">
                            <img src="assets/images/teacher-image.jpg">
                          </div>
                          <div class="col-md-9">
                            <p class=" partnertext" align="left">100% of teachers received training in academic methodologies, ensuring an engaging environment for the children.</p>
                          </div>&nbsp; 
                           
                         </div>
                      </div> 
                    </div>
                  </div>
                 </div>
          
                <div class="row" style="margin-top:10px;">
                  <div class="col-md-4">
                    <div class="member">
                        <div class="sub-heading"> 
                          <div class="sub-padd">
                           <div class="col-md-3">
                             <img src="assets/images/child-image.jpg">
                           </div>
                            <div class="col-md-9">
                             <p class=" partnertext" align="left">10484 children received Remedial Support as an extended effort to ensure retention and a good academic performance in School. 13.47% increase from last year.</p>
                            </div>&nbsp;                      
                          </div>
                       </div> 
                    </div>
                  </div>
                  
                  <div class="col-md-4">
                    <div class="member"> 
                      <div class="sub-heading">
                        <div class="sub-padd">                
                          <div class="col-md-3">
                            <img src="assets/images/health.jpg">
                          </div>
                          <div class="col-md-9">
                            <p class=" partnertext" align="left">More than 1000 health camps were conducted to cater to healthcare needs of the children. Healthy students ensured steady attendance.</p>
                          </div>&nbsp;                                    
                        </div>
                      </div>
                    </div>
                  </div>
                  
                  <div class="col-md-4">
                    <div class="member"> 
                      <div class="sub-heading">
                        <div class="sub-padd">                  
                          <div class="col-md-3">
                            <img src="assets/images/school.jpg">
                          </div>
                          <div class="col-md-9">
                            <p class=" partnertext" align="left">7078 school drop-outs resumed education under bridge Course, to facilitate their mainstreaming into formal educational institutions.</p>
                          </div>&nbsp;                
                        </div>                 
                      </div> 
                    </div>
                  </div>
                </div>         
                        
              </div>
             <div>         
           </div> 
          </div>  
        <!-- </section>  -->
         <!-- Last Year's Impact End--> 
          <hr width="85%">
        </div> 
        <div role="tabpanel" class="tab-pane fade in" id="tab-2">
          <div class="clearfix"></div>
    
    <section class="spacer" id="ways">
      <div class="container">
        <div class="membership">
         <div class="Nation_Conference">
          <h1>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Health</h1>
          <div class="row">
            <div class="col-md-6">
              <div class="member">
                 <div class="sub-heading"> 
                   <div class="sub-padd" align="center" style="padding-top:17px;">
                    <img src="assets/images/health-image.jpg" class="img-responsive" alt="livelihood-image">
                  </div>
                </div> 
              </div>
            </div>
          
            <div class="col-md-6">
              <div class="member"> 
                 <p class="runtext text-center">Over 1,000,000 people provided healthcare so far</p>
                 <div class="sub-heading">
                 <p class="partnertext" align="left">Smile on Wheels is a mobile hospital programme that takes preventive, curative and promotive healthcare to the doorsteps of less privileged children and families in the remotest villages and underserved slums of India.</p>
                   <div class="sub-padd" align="center">
                     <img src="assets/images/impact-sow.jpg" class=" img-responsive" alt="Image">
                     </div>
                   </div>				
                 </div>
              </div>
            </div>
                 
       
          </div>
       </div>
     </div>
  </section>
   <hr width="85%">
  <!--Last Year's Impact start-->
   <section class="spacer" id="ways">
      <div class="container">
        <p class="runtext" style="margin-top:0px;">Last Year's Impact</p>
        <div class="membership">
         <div class="Nation_Conference">
          <div class="row">
          
            <div class="col-md-4">
              <div class="member">
                <div class="sub-heading">                 
  			         <div class="sub-padd">     
                  <div class="col-md-3">
                  <img src="assets/images/health-icons-1.jpg" alt="health-icons">
                  </div>
                  <div class="col-md-9">
                  <p class=" partnertext" align="left">New Smile on Wheels projects launched in five states. 1710 Information Education and Communication sessions were conducted.</p>
                  </div>&nbsp; <br/>                                    
                 </div>
                </div> 
              </div>
            </div>
          
            <div class="col-md-4">
              <div class="member">
                <div class="sub-heading">
                  <div class="sub-padd">
                  
                  
                       <div class="col-md-3">
                       <img src="assets/images/health-icons-3.jpg" alt="health-icons">
                     </div>
                     <div class="col-md-9">
                       <p class=" partnertext" align="left">Sow benefitted 615585 people directly through 39 operational projects covering 585 remote villages and urban slums across the country.</p>
                     </div>&nbsp; 
                     
                   </div>
                 </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="member">
                <div class="sub-heading">
                  <div class="sub-padd">
                  
                   <div class="col-md-3">
                       <img src="assets/images/health-icons-7.jpg" alt="health-icons">
                     </div>
                     <div class="col-md-9">
                       <p class=" partnertext" align="left">5095 school going children benefitted from School Health Programme that are conducted regularity to build a health seeking next generation.</p>
                     </div>&nbsp;
                     
                   </div>
                </div> 
              </div>
            </div>
           </div>
           
            <div class="row" style="margin-top:10px;">
               <div class="col-md-4">
              <div class="member">
                <div class="sub-heading">                 
			     <div class="sub-padd">
     
                        <div class="col-md-3">
                       <img src="assets/images/health-icons-4.jpg" alt="health-icons">
                     </div>
                     <div class="col-md-9">
                       <p class=" partnertext" align="left">70% of the total beneficiaries covered in the reporting period were women and children. Focus is given on women and children through ante and post natal care, distribution of iron, frolic and vitamin supplements, immunization and growth monitoring of children.</p>
                     </div>&nbsp; <br/>
                                    
                 </div>
                </div> 
              </div>
            </div>
          
            <div class="col-md-4">
              <div class="member">
                <div class="sub-heading">
                  <div class="sub-padd">
                  
                  
                       <div class="col-md-3">
                       <img src="assets/images/health-icons-5.jpg" alt="health-icons">
                     </div>
                     <div class="col-md-9">
                       <p class=" partnertext" align="left">More than before and much stronger linkages were built with government health officials and NRHM,which has further augmented the project's reach to the underprivileged people. Also, intensive capacity building sessions were held for ASHA and ANM workers.</p>
                     </div>&nbsp; 
                     
                   </div>
                 </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="member">
                <div class="sub-heading"> 
                 <div class="sub-padd">
                 
                     <div class="col-md-3">
                       <img src="assets/images/health-icons-6.jpg" alt="health-icons">
                     </div>
                     <div class="col-md-9">
                       <p class=" partnertext" align="left">463 multi-specialty camps were conducted in urban slums and rural village, meeting immediate healthcare needs of 31648 people.</p>
                     </div>&nbsp; 
                      
                   </div>
                </div> 
              </div>
            </div>

          </div>
                
                  
        </div>
       <div>         
     </div> 
    </div>  
  <!-- </section>  -->
   <!-- Last Year's Impact End--> 
    <hr width="85%">
          </div> 
        <!-- </div> -->
        <div role="tabpanel" class="tab-pane fade in" id="tab-3">
          <div class="clearfix"></div>
    
    <section class="spacer" id="ways">
      <div class="container">
        <div class="membership">
         <div class="Nation_Conference">
          <h1>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Women Empowerment</h1>
          <div class="row">
            <div class="col-md-6">
              <div class="member">
                 <div class="sub-heading"> 
                   <div class="sub-padd" align="center" style="padding-top:17px;">
                    <img src="assets/images/women-girl-image.jpg" class="img-responsive" alt="women-girl-image">
                  </div>
                </div> 
              </div>
            </div>
          
            <div class="col-md-6"> 
              <div class="member"> 
                 <p class="runtext" align="center">Over 5,00,000 women & girl children benefitted so far</p>
                 <div class="sub-heading">
                 <p class="partnertext" align="left">Swabhiman, meaning self-respect in English, aims at achieving empowerment of the less-privileged woman, by enabling them to build</p>
                   <div class="sub-padd" align="center">
                     <img src="assets/images/impact-women-empowerment3.jpg" alt="women-empowerment" style="width:70%;">
                     </div>
                   </div>				
                 </div>
              </div>
            </div>
                 
       
          </div>
       </div>
     </div>
  </section>
   <hr width="85%">
  <!--Last Year's Impact start-->
   <section class="spacer" id="ways">
      <div class="container">
        <p class="runtext" style="margin-top:0px;">Last Year's Impact</p>
        <div class="membership">
         <div class="Nation_Conference">
          <div class="row">
          
            <div class="col-md-4">
              <div class="member">
                <div class="sub-heading">                 
			     <div class="sub-padd">
     
                        <div class="col-md-3">
                       <img src="assets/images/women-icons-1.jpg" alt="women-icons">
                     </div>
                     <div class="col-md-9">
                       <p class=" partnertext" align="left">Over 100 woman and adolescent girls were trained to be "change agents" to further serve as Community health Educators, Health Volunteers and peer Educators in their communities.</p>
                     </div>&nbsp; <br/>
                                    
                 </div>
                </div> 
              </div>
            </div>
          
            <div class="col-md-4">
              <div class="member">
                <div class="sub-heading">
                  <div class="sub-padd">
                  
                  
                       <div class="col-md-3">
                       <img src="assets/images/women-icons-2.jpg">
                     </div>
                     <div class="col-md-9">
                       <p class=" partnertext" align="left">18,053 community members were counseled on issues concerning women rights through celebration of events like international woman's Day and Girl Child Day, street plays</p>
                     </div>&nbsp; 
                     
                   </div>
                 </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="member">
                <div class="sub-heading">
                  <div class="sub-padd">
                  
                  <div class="col-md-3">
                       <img src="assets/images/women-icons-4.jpg">
                     </div>
                     <div class="col-md-9">
                       <p class=" partnertext" align="left">19108 girls and women received health care support at their door step. Many more were provided with adequate knowledge of reproductive and sexual health issues.</p>
                     </div>&nbsp;
                     
                   </div>
                </div> 
              </div>
            </div>
           </div>
           
            <div class="row" style="margin-top:10px;">
            <div class="col-md-2"></div>
             <div class="col-md-4">
              <div class="member">
                <div class="sub-heading"> 
                 <div class="sub-padd">
                 
                     <div class="col-md-3">
                       <img src="assets/images/women-icons-3.jpg">
                     </div>
                     <div class="col-md-9">
                       <p class=" partnertext" align="left">A total of 110,634 women and girl children were benefitted and empowered through various interventions under the Swabhiman programme.</p>
                     </div>&nbsp; 
                      
                   </div>
                </div> 
              </div>
            </div>
            
            <div class="col-md-4">
              <div class="member">
                 <div class="sub-heading"> 
              <div class="sub-padd">
                     <div class="col-md-3">
                       <img src="assets/images/women-icons-5.jpg">
                     </div>
                     <div class="col-md-9">
                       <p class=" partnertext" align="left">Educational support was provided to 509 underprivileged girls for secondary and senior secondary education through full scholarships.</p>
                     </div>&nbsp;
                      
                   </div>
                </div> 
              </div>
            </div>
          <div class="col-md-2"></div>
        </div>
                 
                  
        </div>
       <div>         
     </div> 
    </div>  
  <!-- </section>  -->
   <!-- Last Year's Impact End--> 
    <hr width="85%">
        </div>
        
      <!-- </div> -->
    <!-- </div> -->
    </section>
