<footer class="container-fluid text-center">
    <div class="col-md-4">
        <h4>Support Us</h4>
        <p><a href="">Donate</a></p>
        <p><a href="">Corporate Support</a></p>
        <p><a href="">Trusts & Foundations</a></p>
        <p><a href="">Give In Memory</a></p>
        <p><a href="">Individual Giving</a></p>
       
        </div>
        <div class="col-md-4">
        <h4>Important Links</h4>
        <p><a href="">Sitemap</a></p>
        <p><a href="">Accessibility</a></p>
        <p><a href="">Terms & conditions</a></p>
        <p><a href="">Cookie policy</a></p>
        <p><a href="">privacy policy</a></p>
        
        </div>
        <div class="col-md-4">
        <h4>Follow us</h4>
        
        <p><a href="https://www.facebook.com/"><i class="fa fa-facebook-square" style="font-size:20px"></i></a></p>
        <p><a href="https://www.linkedin.com/feed/"><i class="fa fa-linkedin-square" style="font-size:20px"></i></a></p>
        <p><a href="https://secure.skype.com/portal/overview"><i class="fa fa-skype" style="font-size:20px"></i></a></p>
        <p><a href="https://twitter.com/home?lang=en"><i class="fa fa-twitter-square" style="font-size:20px"></i></a></p>
        <p><a href="https://www.youtube.com/"><i class="fa fa-youtube" style="font-size:20px"></i></a></p>
        </div>
      
        <!-- <div class="col-sm-2 sidenav">
          <div>
            <p><a href=""><img src="/assets/images/map.jpg" width="80" height="150" class="img-rounded"/></a></p>
          </div>
          
        </div> -->
        <br><br><br><br><br><br><br><br><br><br>
        <div>
            <h4>All copyrigths &copy; are reserved to Abhishek Sharma & Arpit Thanvi</h4>
        </div>
</footer>
