<div class="form-group">
    <label for="ngoname">Category Id : </label>
    <input type="text" class="form-control" id="name" [(ngModel)]="id" disabled>
</div>
<div class="form-group">
    <label for="ngoname">Category Name : </label>
    <input type="text" class="form-control" id="name" [(ngModel)]="name" disabled>
</div>
<div class="form-group">
    <label for="age">Description : </label>
    <input type="text" class="form-control" id="description" [(ngModel)]="description" disabled>
</div>
<div class="form-group">
    <label for="name">Active Status : </label>
    <label class="radio-inline"><input type="radio" name="actStat" value="true" (change)="onItemChange($event.target.value)"
        [checked]="activeStatus==true?true:false">Active</label>
    <label class="radio-inline"><input type="radio" name="actStat" value="false" (change)="onItemChange($event.target.value)"
        [checked]="activeStatus==false?true:false">Inactive</label>
</div>
<button type="button" class="btn btn-success" (click)="updCategory()">Make Changes !</button>


