
<div class="container-fluid text-center">    
    <div class="row content">
      <div class="col-sm-2 sidenav">
        <p><a href="#">List of Charities</a></p>
        <p><a href="#">List of NGOS</a></p>
        <p><a href="#">List of Donors</a></p>
      </div>
      <div class="col-sm-10 text-left"> 
        <marquee><h3>Charity brings to life again those who are spiritually dead. <B>-Thomas Aquinas</B></h3></marquee>
        <!-- <ul class="list-group">
          <li class="list-group-item list-group-item-success">A&A Info Solution</li>
          <li class="list-group-item list-group-item-success">+917376761774 , +918005607773</li>
          <li class="list-group-item list-group-item-success">aa_info321@gmail.com</li>
        </ul> -->
      </div>
    </div>
</div>


<div class="header">
  <h2>Contact Us</h2>
</div>

<div class="row">
  <div class="leftcolumn">
    <div class="card">
      <!-- <h2>TITLE HEADING</h2>
      <h5>Title description, Dec 7, 2017</h5> -->
      <div class="fakeimg" style="height:300px;">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <h5><b>ALL GENERAL QUERIES</b></h5>
              <div class="contact-email">
                <p><a href="mailto:abhishekssharma12@gmail.com"> info@careforyou.org</a></p>
              </div><br>
              <h5><b>DONATION RELATED QUERIES</b></h5>
              <h6><b>FOR NEW DONORS & NGOS</b></h6>
              <div class="contact-email">
                <p><a href="tel:7376761774">+917376761774</a></p>
                <p><a href="mailto:abhishekssharma12@gmail.com">donation@careforyou.org</a></p>
                <H6><b>FOR EXISTING DONORS & NGOS</b></H6>
                <p><a href="tel:7376761774">+917985671377</a></p>
                <p><a href="mailto:abhishekssharma12@gmail.com">donorcare@careforyou.org</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <h2>HEAD OFFICE</h2>
      <h4>101 B/4 3<sup>rd</sup> Floor <br>Shalimar Palace <br> Mahanagar <br> Lucknow, Uttar Pradesh
      <br>226006</h4>
      <div class="fakeimg" style="height:200px;"><img src="assets/images/lko-map.jpg" width="970px" height="165px" alt="lko-map"></div>
    </div>
  </div>
  <div class="rightcolumn">
    <div class="card">
      <h2>About Me</h2>
      <div class="fakeimg" style="height:200px;"><img src="assets/images/abhishek.jpg" width="250px" height="160px" alt="abhishek"></div>
      <p><strong>Abhishek Sharma</strong></p>
      <p><a href="tel:7376761774"><b><i>+917376761774</i></b></a></p>
      <p><a href="mailto:abhishekssharma12@gmail.com">abhishekssharma12@gmail.com</a></p>
      <p><strong>Arpit Thanvi</strong></p>
      <p><a href="tel:7376761774"><b><i>+918005607773</i></b></a></p>
      <p><a href="mailto:abhishekssharma12@gmail.com">thanviarpit12@gmail.com</a></p>
      <p>I am PG-DAC student of IACSD Akurdi, Pune.<br>I am done my B.Tech. in Electrical in 2016 from RTU.</p>
    </div>
    <div class="card">
      <br>
      <h3>Follow Me</h3>
      
      <p><a href="https://secure.skype.com/portal/overview" class="fa fa-skype"></a>
      <a href="https://www.linkedin.com/feed/" class="fa fa-linkedin"></a>
      <a href="https://www.facebook.com/" class="fa fa-facebook"></a>
      <a href="https://www.instagram.com/abi_sekz/" class="fa fa-instagram"></a></p>

    </div>
  </div>
</div>
     
