<div class="form-group">
    <label for="ngoname">NGO Id : </label>
    <input type="number" class="form-control" id="name" [(ngModel)]="id" disabled>
  </div>
  <div class="form-group">
    <label for="ngoname">NGO Name : </label>
    <input type="text" class="form-control" id="name" [(ngModel)]="orgRegName" disabled>
  </div>
  <div class="form-group">
    <label for="age">NGO Number : </label>
    <input type="text" class="form-control" id="description" [(ngModel)]="orgRegNum" disabled>
  </div>
  <div class="form-group">
    <label for="age">NGO Category : </label>
    <input type="text" class="form-control" id="description" [(ngModel)]="category.name" value="category.name" disabled>
  </div>
  <div class="form-group">
    <label for="ngoname">Email : </label>
    <input type="text" class="form-control" id="name" [(ngModel)]="email" disabled>
  </div>
  <div class="form-group">
    <label for="age">Mobile : </label>
    <input type="text" class="form-control" id="description" [(ngModel)]="mobile" disabled>
  </div>
  <div class="form-group">
    <label for="age">Address : </label>
    <input type="text" class="form-control" id="description" [(ngModel)]="address" disabled>
  </div>
  <div class="form-group">
    <label for="name">Active Status : </label>
    <label class="radio-inline"><input type="radio" name="actStat" value="true" (change)="onActiveChange($event.target.value)"
        [checked]="activeStatus==true?true:false">Active</label>
    <label class="radio-inline"><input type="radio" name="actStat" value="false" (change)="onActiveChange($event.target.value)"
        [checked]="activeStatus==false?true:false">Inactive</label>
  </div>
  <div class="form-group">
    <label for="aprove">Approval Status : </label>
    <label class="radio-inline"><input type="radio" name="appStat" value="true" (change)="onApproveChange($event.target.value)"
        [checked]="approveStatus==true?true:false">Approved</label>
    <label class="radio-inline"><input type="radio" name="appStat" value="false" (change)="onApproveChange($event.target.value)"
        [checked]="approveStatus==false?true:false">Not Approved</label>
  </div>
  <button type="button" class="btn btn-success" (click)="updCategory()">Make Changes !</button>
